<!DOCTYPE html>
<html>
	<head>
		<title>Time</title>
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
		<script src="/javascripts/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
			<br>
			<ul class="nav nav-pills">
			  <li role="presentation"><a href="/books">View list of Books</a></li>
			</ul>

			<h2 style="text-align: center">${data.name}</h2>

			<form  method="post" enctype="application/x-www-form-urlencoded" action="${data.flag == 'update' ?  '/books/updateBook/$data.id' : '/books/addBook'}">
			  <fieldset class="form-group">
			    <label for="booktitle">Book Title</label>
			    <input type="text" class="form-control" name="title" id="title" placeholder="Enter Book Title" value="${data.flag == 'update' ?  data.title : ''}">
			  </fieldset>
			  <fieldset class="form-group">
			    <label for="author">Author</label>
			    <input type="text" class="form-control" id="author" name="author" placeholder="Enter Book Author" value="${data.flag == 'update' ?  data.author : ''}">
			  </fieldset>
			  <fieldset class="form-group">
			    <label for="isbn">ISBN</label>
			    <input type="text" class="form-control" id="isbn" name="isbn" placeholder="Enter Book ISBN" value="${data.flag == 'update' ?  data.isbn : ''}">
			  </fieldset>
			  <fieldset class="form-group">
			    <label for="price">Price</label>
			    <input type="text" class="form-control" id="price" name="price" placeholder="Enter Book Price" value="${data.flag == 'update' ?  data.price : ''}">
			  </fieldset>
			  <button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</body>
</html>