<!DOCTYPE html>
<html>
	<head>
		<title>Time</title>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	</head>
	<body>
		
		<div class="container">
			<br>
			<ul class="nav nav-pills">
			  <li role="presentation"><a href="/books/addBook">Add New Book</a></li>
			  <li role="presentation"><a href="/books/search">Search Book</a></li>
			</ul>
			<hr>	
			<h2 style="text-align: center">List of Books</h2>
			<div class="panel panel-primary" if="notEmpty(data.booksData)" for="book in data.booksData">
			  <!-- Default panel contents -->
			  <div class="panel-heading">$book.title</div>
			  <div class="panel-body">
			    <p>	Author: $book.author
			    	<br>ISBN : $book.isbn
			    	<br>Price: $book.price
			    	<br>Average :$book.avgrating
			    </p>
				
				<form method="get" style="display:inline-block" enctype="application/x-www-form-urlencoded" action="/books/viewreviews/$book.id"><input type="Submit" value="View Reviews" /></form> 

				<form method="get" style="display:inline-block" enctype="application/x-www-form-urlencoded" action="/books/addreviews/$book.id"><input type="Submit" value="Add Review" /></form> 
				
				<form method="get" style="display:inline-block;padding-left:20px;padding-right:20px;" enctype="application/x-www-form-urlencoded" action="/books/updateBook/$book.id"><input type="Submit" value="Update" /></form>

				<form method="post" style="display:inline-block;padding-left:20px;padding-right:20px;" enctype="application/x-www-form-urlencoded" action="/books/delete/$book.id"><input type="Submit" value="Delete" /></form>
				

			  </div>

			</div>
		</div>
	</body>
</html>